<?xml version="1.0" encoding="utf-8"?>
<appSettings>  
  <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="X-RapidAPI-Key" value="f0c96075c0msh771706caa4d8cdbp18a9c9jsnd3224164f803" />
    <add key="X-RapidAPI-Host" value="forward-reverse-geocoding.p.rapidapi.com" />
</appSettings>